header {
  position: fixed;
  width: 100%;
  transition: background-color 0.9s ease , transform 0.5s ease; 
  top: 0;
  z-index: 100;
  background-color: transparent;
  max-height: 700px;
  overflow: hidden;
}

header.hide {
  transform: translateY(-100%);
}

header:hover {
  background-color: white;

}

/* nav */
nav {
  padding: 30px 50px;
  width: 100%;
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
nav * {
  color: white;
}

header:hover nav * {
  color: black;
}

/* nav logo */
nav .logo {
  width: fit-content;
    height: 60px;
}

nav .logo img {
  width: 90px;

}

/* nav gnb */
.gnb {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1018px;
  font-weight: 700;
}

.gnb li {
  padding: 20px;
}

.gnb li:hover a {
  color: rgb(0, 101, 189);
}

.gnb li a {
  position: relative;
}

.gnb li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  background-color: rgb(0, 101, 189);
  width: 100%;
  max-width: 0;
  opacity: 0;
  transition: 0.5s ease;
}

.gnb li a:hover::after {
  max-width: 100%;
  opacity: 1;
}

/* nav btn */
.nav-btn {
  display: flex;
  gap: 30px;
  cursor: pointer;
}

.nav-btn .lang-btn {
  display: flex;
  position: relative;
  align-items: center;
  gap: 3px;
}

.lang-btn button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
}

.lang-btn svg {
  transition: 0.5s;
}

.lang-btn.active svg {
  rotate: 180deg;
}

.lang-btn > div {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-30%);
  overflow: hidden;
  max-height: 0;
  transition: 0.7s ease;
  z-index: 10;
}

.lang-btn.active > div {
  max-height: 100px;
}

.lang-btn .lang-select-box {
  border: 1px solid rgb(219, 219, 219);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 1px;
}

.lang-select-box p {
  padding: 7px 18px;
  font-size: 15px;
  background-color: white;
}

.lang-select-box p.active {
  background-color: rgb(235, 235, 235);
  color: rgb(0, 101, 189);
}

.search-btn {
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: transparent;
}
header.active nav::after{
  background-color: rgb(212, 212, 212);
}

/* submenu */
.submenu {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: 0.6s ease;
  position: relative;
  padding-left: 100px;
}

header:hover .submenu {
  opacity: 1;
  height: 500px;
  padding-top: 50px;
}

.submenu .submenu-i {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  gap: 50px;
}

.submenu-groups {
  width: 100%;
  max-width: calc(850px / 6);
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 20px;
  color: rgb(148, 148, 148);
}

.submenu-title {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  cursor: pointer;
}

.submenu-title a {
  position: relative;
}

.submenu-title a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  background-color: black;
  width: 100%;
  max-width: 0;
  opacity: 0;
  transition: 0.6s ease;
}

.submenu-title:hover {
  color: black;
}

.submenu-title:hover a::after {
  max-width: 100%;
  opacity: 1;
}

.submenu-title svg {
  margin-left: 2px;
  transition: 0.5s ease;
}

.submenu-title svg.open {
  rotate: 180deg;
}

.submenu-items {
  max-height: 0;
  overflow: hidden;
  transition: 1.5s ease;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submenu-group.open .submenu-items {
  max-height: 500px;
}

.submenu-items li:hover {
  color: black;
}
.submenu-items li a {
  position: relative;
  font-size: 15px;
  font-weight: 600;
}
.submenu-items li a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  background-color: black;
  width: 100%;
  max-width: 0;
  opacity: 0;
  transition: 0.6s ease;
}
.submenu-items li:hover a::after {
  max-width: 100%;
  opacity: 1;
}

.submenu-bottom-bar {
  position: absolute;
  bottom: 16px;
  left: 20px;
  width: calc(100% - 40px);
  height: 60px;
  background-color: blue;
  border-radius: 10px;
}
